name: .NET (Solution Build)

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: windows-latest

    env:
      Solution_Name: CleanArchitecture.sln

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            9.0.x
            8.0.x
          cache: true

      - name: Restore
        run: dotnet restore "$env:Solution_Name"

      - name: Build
        run: dotnet build "$env:Solution_Name" --no-restore --configuration Release

      - name: Test
        run: dotnet test "$env:Solution_Name" --no-build --configuration Release --verbosity normal
